<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>Kezdőlap</title>
    <link rel="icon" type="image/png" href="../static/favico.png">
</head>
<body>
<nav>
    <a href="/">Home</a>
    <a href="/edit">Edit</a>
</nav>
<h1>Üdvözöllek a kezdőlapoon!</h1>

<table>
    <tbody>
    <tr>
        <th>Étel neve</th>
        <th>Ár</th>
    </tr>
    <tr>
        {% for etel in etelek %}
            <tr>
                <td>{{ etel.nev }}</td>
                <td>{{ etel.leiras }}</td>
                <td>{{ etel.allergen }}</td>


            </tr>
            {% endfor %}
    </tr>
    </tbody>
</table>

<footer>
  <p>Author: Szabó Bernát</p>
  <p><a target="_blank" href="https://icons8.com/icon/53372/internet">favicon</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a></p>
</footer>
</body>
</html>